USE [master]
GO
/****** Object:  Database [FinalProject]    Script Date: 17.06.2023 16:05:59 ******/
CREATE DATABASE [FinalProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FinalProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FinalProject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FinalProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FinalProject_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FinalProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FinalProject]
GO
/****** Object:  Table [dbo].[CUSTOMER_REQUEST]    Script Date: 17.06.2023 16:05:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_REQUEST](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[RequestDate] [datetime] NULL,
	[FACTORY_ID] [int] NULL,
	[REQUEST_NUMBER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXPEDITION]    Script Date: 17.06.2023 16:06:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXPEDITION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ActualDepartureDate] [datetime] NULL,
	[ActualArrivalDate] [datetime] NULL,
	[Confirmation] [varchar](50) NULL,
	[CUSTOMER_REQUEST_ID] [int] NULL,
 CONSTRAINT [PK__Expediti__3214EC279E7AAE59] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTORIES]    Script Date: 17.06.2023 16:06:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTORIES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FACTORY_E_MAIL] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[FACTORY_NAME] [nvarchar](50) NOT NULL,
	[FACTORY_TYPE_ID] [int] NOT NULL,
	[FACTORY_PHONE_NUMBER] [char](20) NULL,
	[FACTORY_COUNTRY] [nvarchar](50) NULL,
	[FACTORY_ADDRESS] [nvarchar](500) NULL,
	[FACTORY_TAX_NUMBER] [nvarchar](50) NULL,
	[FACTORY_PROVINCE] [nvarchar](50) NULL,
 CONSTRAINT [PK_FACTORIES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTORY_TYPE]    Script Date: 17.06.2023 16:06:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTORY_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FACTORY_TYPE_NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FACTORY_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 17.06.2023 16:06:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_NAME] [nvarchar](50) NOT NULL,
	[PRODUCT_DETAILS] [nvarchar](50) NULL,
	[PRODUCT_PRICE] [numeric](18, 5) NULL,
	[QUANTITY] [decimal](18, 5) NULL,
	[WAREHOUSE_ID] [int] NOT NULL,
	[FACTORY_ID] [int] NOT NULL,
	[UNIT_VOLUME] [decimal](18, 5) NULL,
	[UNIT_WEIGHT] [decimal](18, 5) NULL,
 CONSTRAINT [PK_PRODUCTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WAREHOUSE]    Script Date: 17.06.2023 16:06:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WAREHOUSE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WAREHOUSE_NAME] [nvarchar](50) NULL,
	[WAREHOUSE_E_MAIL] [nvarchar](50) NOT NULL,
	[WAREHOUSE_PHONE_NUMBER] [char](20) NULL,
	[WAREHOUSE_COUNTRY] [nvarchar](50) NULL,
	[WAREHOUSE_ADDRESS] [nvarchar](250) NULL,
	[WAREHOUSE_PASSWORD] [nvarchar](50) NULL,
	[WAREHOUSE_PROVINCE] [nvarchar](50) NULL,
 CONSTRAINT [PK_WAREHOUSE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WH_AND_FACTORY]    Script Date: 17.06.2023 16:06:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WH_AND_FACTORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WAREHOUSES_ID] [int] NULL,
	[FACTORY_ID] [int] NULL,
 CONSTRAINT [PK_WH_AND_FACTORY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUSTOMER_REQUEST] ADD  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[CUSTOMER_REQUEST]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_REQUEST_CUSTOMER_REQUEST1] FOREIGN KEY([REQUEST_NUMBER])
REFERENCES [dbo].[CUSTOMER_REQUEST] ([ID])
GO
ALTER TABLE [dbo].[CUSTOMER_REQUEST] CHECK CONSTRAINT [FK_CUSTOMER_REQUEST_CUSTOMER_REQUEST1]
GO
ALTER TABLE [dbo].[CUSTOMER_REQUEST]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_REQUEST_FACTORIES] FOREIGN KEY([FACTORY_ID])
REFERENCES [dbo].[FACTORIES] ([ID])
GO
ALTER TABLE [dbo].[CUSTOMER_REQUEST] CHECK CONSTRAINT [FK_CUSTOMER_REQUEST_FACTORIES]
GO
ALTER TABLE [dbo].[EXPEDITION]  WITH CHECK ADD  CONSTRAINT [FK_EXPEDITION_CUSTOMER_REQUEST] FOREIGN KEY([CUSTOMER_REQUEST_ID])
REFERENCES [dbo].[CUSTOMER_REQUEST] ([ID])
GO
ALTER TABLE [dbo].[EXPEDITION] CHECK CONSTRAINT [FK_EXPEDITION_CUSTOMER_REQUEST]
GO
USE [master]
GO
